.collection-page {
  background: #fff;
  min-height: 100vh;
  
}

.collection-hero {
  height: 75vh;
  display: flex;
  align-items: flex-end;
  padding: 60px;
  background-size: cover;
  background-position: center;
  margin-top: -80px;
  padding-top: 80px;
}

.accessories-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.9)
    ),
    url("../assets/accessories.jpeg");
}

.collection-hero h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
}

.collection-nav {
  display: flex;
  gap: 25px;
  padding: 30px 60px;
  font-size: 18px;
}

.collection-nav span {
  cursor: pointer;
  opacity: 0.5;
}

.collection-nav .active {
  opacity: 1;
  font-weight: 600;
}

.products-grid {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}

.product-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  position: relative;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.product-card img {
  height: 220px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 16px;
  font-weight: 500;
}

.price {
  font-size: 18px;
  font-weight: 600;
}

.loading-text {
  grid-column: 1 / -1;
  text-align: center;
  color: #777;
}

@media (max-width: 768px) {
  .collection-hero h1 {
    font-size: 40px;
  }

  .collection-nav {
    padding: 20px;
    flex-wrap: wrap;
  }

  .products-grid {
    padding: 30px 20px;
  }
}

.accessory-image-wrapper {
  position: relative;
  overflow: hidden;
  background: #fff;
  padding: 30px;
}

.accessory-image-wrapper img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.accessory-hover-btn {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  background: #ebebeb;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 10;
  color: #000;
}

.accessory-image-wrapper:hover img {
  transform: scale(1.05);
}

.accessory-image-wrapper:hover .accessory-hover-btn {
  opacity: 1;
  bottom: 0;
}

.arrow-icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.accessory-image-wrapper:hover .arrow-icon {
  transform: translateX(6px);
}

.heart-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  background: white;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}