.men-hero {
  height: 75vh;
  background-image: url("../assets//Men.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
   margin-top: -80px; 
  padding-top: 80px;
}

.men-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.7)
  );
}

.men-overlay {
  position: absolute;
  bottom: 60px;
  left: 60px;
  color: white;
  z-index: 2;
}

.men-overlay h1 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .men-overlay {
    left: 20px;
    bottom: 40px;
  }

  .men-overlay h1 {
    font-size: 42px;
  }
}

.men-products {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.men-card {
  text-align: center;
  padding: 20px;
  transition: 0.3s ease;
  cursor: pointer;
  background-color: #f1f1f1;
    position: relative;

}

.men-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.men-card img {
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.men-card h4 {
  font-size: 14px;
  margin-bottom: 8px;
}

.men-card p {
  font-weight: 600;
}

.men-image-wrapper {
  position: relative;
  overflow: hidden;
  background: #f1f1f1;
  padding: 30px;
}

.men-image-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.men-hover-btn {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  background: #fff;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 10;
  color: #000;
}

.men-image-wrapper:hover img {
  transform: scale(1.05);
}

.men-image-wrapper:hover .men-hover-btn {
  opacity: 1;
  bottom: 0;
}

.arrow-icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.men-image-wrapper:hover .arrow-icon {
  transform: translateX(6px);
}

.men-nav{
  display: flex;
  gap: 28px;
  padding: 30px 60px;
  font-size: 18px;
}

.men-nav span {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.men-nav span:hover {
  opacity: 0.8;
}

.men-nav .active {
  opacity: 1;
  font-weight: 600;
}

.heart-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  background: white;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}