.hero {
  position: relative;
  height: 100vh;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
   display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: -80px;
  padding-top: 80px; 
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}

.hero-content {
  position: absolute;
  bottom: 80px;
  left: 60px;
  color: #fff;
  z-index: 2;
  max-width: 700px;
}

.hero-tag {
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.8;
}

.hero-content h1 {
  font-size: 66px;
  line-height: 1.1;
  font-weight: 500;
  margin-top: 12px;
}

.hero-content span {
  font-weight: 500;
}

.fade-in {
  animation: fadeUp 1.2s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.shop-btn-wrapper {
  position: absolute;
  bottom: 60px;
  right: 60px;
  z-index: 4;
}

.shop-btn {
  background: white;
  color: black;
  border: none;
  padding: 14px 24px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}


.shop-btn span {
  transition: transform 0.3s ease;
}

.shop-btn:hover span {
  transform: translateX(6px);
}

.shop-btn:hover {
  background: #f2f2f2;
}



@media (max-width: 768px) {
  .hero-content {
    left: 20px;
    bottom: 40px;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .shop-btn-wrapper {
    right: 20px;
    bottom: 30px;
  }
}

/* ===========section2=============== */

.popular-section {
  padding: 100px 60px;
  background: #fff;
  text-align: center;
}

.popular-tag {
  font-size: 14px;
  color: #777;
  margin-bottom: 12px;
}

.popular-title {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 60px;
}


.popular-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.popular-card {
  background: #f7f7f7;
  padding: 30px;
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
}

.popular-card:hover {
  transform: translateY(-6px);
}

.popular-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-info {
  margin-top: 20px;
  text-align: left;
}

.product-info h4 {
  font-size: 16px;
  font-weight: 500;
}

.product-info p {
  font-size: 14px;
  margin-top: 6px;
}


@media (max-width: 900px) {
  .popular-grid {
    grid-template-columns: 1fr;
  }

  .popular-title {
    font-size: 32px;
  }
}


.image-wrapper {
  position: relative;
  overflow: hidden;
  background: #f7f7f7;
  padding: 40px;
}


.image-wrapper img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.hover-btn {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  background: #fff;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
  color: #000; 
}

.hover-btn .arrow {
  transition: transform 0.3s ease;
}

.image-wrapper:hover img {
  transform: scale(1.05);
}

.image-wrapper:hover .hover-btn {
  bottom: 0;
    opacity: 1;
}

.image-wrapper:hover .hover-btn .arrow {
  transform: translateX(6px);
}

.arrow-icon {
  font-size: 18px;
  transition: transform 0.3s ease;
  color: #000;
}

.image-wrapper:hover .arrow-icon {
  transform: translateX(6px);
}



/* ===========section3=============== */

.collection-section {
  display: flex;
  height: 90vh;
}

.collection-card {
  flex: 1;
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
}

.collection-card.men {
  background-image: url("../assets//Men.jpg");
}

.collection-card.women {
  background-image: url("../assets/Women-bg.jpg");
}

.collection-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.1)
  );
}

.overlay {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 2;
  color: white;
  inset: unset;
}

.overlay h2 {
  font-size: 42px;
  font-weight: 600;
  margin: 20px;
}

.shop-btn {
  background: white;
  color: black;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  margin: 20px;
}

.shop-btn span {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.collection-card:hover .shop-btn span {
  transform: translateX(5px);
}

@media (max-width: 768px) {

  .collection-card {
    height: 60vh;
  }

  .overlay h2 {
    font-size: 32px;
  }
}


/* ===========section4=============== */

.social-section {
  padding: 120px 0;
  text-align: center;
  overflow: hidden;
}

.social-tag {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.social-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 70px;
}

.social-title span {
  color: #999;
}

.social-slider {
  width: 100%;
  overflow: hidden;
}

.social-track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: scrollSlider 70s linear infinite;
}

.social-card {
  min-width: 280px;
  height: 360px;
  overflow: hidden;
}

.social-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes scrollSlider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .social-title {
    font-size: 32px;
  }

  .social-card {
    min-width: 220px;
    height: 300px;
  }
}

/* ================= MOBILE RESPONSIVE ================= */
@media (max-width: 480px) {

  .hero {
    height: 90vh;
  }

  .hero-content {
    left: 16px;
    bottom: 120px;
    max-width: 90%;
  }

  .hero-content h1 {
    font-size: 32px;
    line-height: 1.2;
  }

  .hero-tag {
    font-size: 12px;
  }

  .shop-btn-wrapper {
    right: auto;
    left: 16px;
    bottom: 40px;
  }

  .shop-btn {
    padding: 12px 18px;
    font-size: 14px;
  }

  .popular-section {
    padding: 60px 20px;
  }

  .popular-title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .popular-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .popular-card {
    padding: 20px;
  }

  .image-wrapper {
    padding: 24px;
  }

  .image-wrapper img {
    height: 200px;
  }

  .product-info h4 {
    font-size: 14px;
  }

  .product-info p {
    font-size: 13px;
  }

  .collection-section {
    flex-direction: column;
    /* height: auto; */
  }

  .collection-card {
    height: 75vh;
  }

  .overlay {
    bottom: 24px;
    left: 24px;
  }

  .overlay h2 {
    font-size: 28px;
    margin: 0 0 12px 0;
    padding: 18px 0 0 18px;
  }

  .collection-card .shop-btn {
    padding: 10px 16px;
    font-size: 13px;
  }

  .social-section {
    padding: 80px 0;
  }

  .social-title {
    font-size: 26px;
    margin-bottom: 40px;
    padding: 0 16px;
  }

  .social-card {
    min-width: 200px;
    height: 260px;
  }

  .social-track {
    gap: 20px;
  }
}
